
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/checksums/md5-checksums.bin
.gradle/7.4.2/checksums/sha1-checksums.bin
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/executionHistory/executionHistory.bin
.gradle/7.4.2/executionHistory/executionHistory.lock
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/fileHashes/fileHashes.bin
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/fileHashes/resourceHashesCache.bin
.gradle/7.4.2/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/betterareas.main.iml
.idea/modules/betterareas.test.iml
.idea/uiDesigner.xml
.idea/vcs.xml
build/classes/java/main/com/lypaka/areamanager/API/AreaEnterEvent.class
build/classes/java/main/com/lypaka/areamanager/API/AreaFishSpawnEvent.class
build/classes/java/main/com/lypaka/areamanager/API/AreaHeadbuttSpawnEvent.class
build/classes/java/main/com/lypaka/areamanager/API/AreaLeaveEvent.class
build/classes/java/main/com/lypaka/areamanager/API/AreaNaturalSpawnEvent.class
build/classes/java/main/com/lypaka/areamanager/API/AreaRockSmashSpawnEvent.class
build/classes/java/main/com/lypaka/areamanager/AreaManager.class
build/classes/java/main/com/lypaka/areamanager/Areas/Area.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaHandler$1.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaHandler$2.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaHandler$3.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaHandler$4.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaHandler$5.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaHandler.class
build/classes/java/main/com/lypaka/areamanager/Areas/AreaPermissions.class
build/classes/java/main/com/lypaka/areamanager/Areas/SpawnerSettings/FishSpawnerSettings.class
build/classes/java/main/com/lypaka/areamanager/Areas/SpawnerSettings/HeadbuttSpawnerSettings.class
build/classes/java/main/com/lypaka/areamanager/Areas/SpawnerSettings/NaturalSpawnerSettings.class
build/classes/java/main/com/lypaka/areamanager/Areas/SpawnerSettings/RockSmashSpawnerSettings.class
build/classes/java/main/com/lypaka/areamanager/Areas/Spawns/AreaSpawns.class
build/classes/java/main/com/lypaka/areamanager/Areas/Spawns/FishSpawn.class
build/classes/java/main/com/lypaka/areamanager/Areas/Spawns/HeadbuttSpawn.class
build/classes/java/main/com/lypaka/areamanager/Areas/Spawns/NaturalSpawn.class
build/classes/java/main/com/lypaka/areamanager/Areas/Spawns/PokemonSpawn.class
build/classes/java/main/com/lypaka/areamanager/Areas/Spawns/RockSmashSpawn.class
build/classes/java/main/com/lypaka/areamanager/Commands/BetterAreasCommand.class
build/classes/java/main/com/lypaka/areamanager/Commands/MenuCommand.class
build/classes/java/main/com/lypaka/areamanager/Commands/ReloadCommand$1.class
build/classes/java/main/com/lypaka/areamanager/Commands/ReloadCommand.class
build/classes/java/main/com/lypaka/areamanager/ConfigGetters$1.class
build/classes/java/main/com/lypaka/areamanager/ConfigGetters$2.class
build/classes/java/main/com/lypaka/areamanager/ConfigGetters$3.class
build/classes/java/main/com/lypaka/areamanager/ConfigGetters$4.class
build/classes/java/main/com/lypaka/areamanager/ConfigGetters.class
build/classes/java/main/com/lypaka/areamanager/GUIs/AllSpawnsMenu$1.class
build/classes/java/main/com/lypaka/areamanager/GUIs/AllSpawnsMenu$2.class
build/classes/java/main/com/lypaka/areamanager/GUIs/AllSpawnsMenu.class
build/classes/java/main/com/lypaka/areamanager/GUIs/CommonButtons.class
build/classes/java/main/com/lypaka/areamanager/GUIs/MainMenu.class
build/classes/java/main/com/lypaka/areamanager/GUIs/PossibleSpawnsMenu$1.class
build/classes/java/main/com/lypaka/areamanager/GUIs/PossibleSpawnsMenu$2.class
build/classes/java/main/com/lypaka/areamanager/GUIs/PossibleSpawnsMenu.class
build/classes/java/main/com/lypaka/areamanager/GUIs/SpawnLists/AllSpawnsList.class
build/classes/java/main/com/lypaka/areamanager/GUIs/SpawnLists/PossibleSpawnsList.class
build/classes/java/main/com/lypaka/areamanager/GUIs/SpawnMainMenu.class
build/classes/java/main/com/lypaka/areamanager/Listeners/BattleEndListener.class
build/classes/java/main/com/lypaka/areamanager/Listeners/MovementListener.class
build/classes/java/main/com/lypaka/areamanager/Listeners/NaturalPixelmonSpawnListener.class
build/classes/java/main/com/lypaka/areamanager/Listeners/RespawnListener.class
build/classes/java/main/com/lypaka/areamanager/Listeners/ServerStartedListener$1.class
build/classes/java/main/com/lypaka/areamanager/Listeners/ServerStartedListener.class
build/classes/java/main/com/lypaka/areamanager/Spawners/FishSpawner.class
build/classes/java/main/com/lypaka/areamanager/Spawners/HeadbuttSpawner.class
build/classes/java/main/com/lypaka/areamanager/Spawners/NaturalSpawner$1.class
build/classes/java/main/com/lypaka/areamanager/Spawners/NaturalSpawner.class
build/classes/java/main/com/lypaka/areamanager/Spawners/RockSmashSpawner.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/ArenaTrap.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/CompoundEyes.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/CuteCharm.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/FlashFire.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Harvest.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Hustle.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Illuminate.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Infiltrator.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Intimidate.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/KeenEye.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/LightningRod.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/MagnetPull.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/NoGuard.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Pressure.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/QuickFeet.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Static.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Stench.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/StickyHold.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/StormDrain.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/SuctionCups.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/SuperLuck.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/Synchronize.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/VitalSpirit.class
build/classes/java/main/com/lypaka/areamanager/Utils/ExternalAbilities/WhiteSmoke.class
build/classes/java/main/com/lypaka/areamanager/Utils/HeldItemUtils$1.class
build/classes/java/main/com/lypaka/areamanager/Utils/HeldItemUtils.class
build/classes/java/main/com/lypaka/areamanager/Utils/SpawnBuilder.class
build/createMcpToSrg/output.tsrg
build/downloadMCMeta/version.json
build/downloadMcpConfig/output.zip
build/extractSrg/output.srg
build/jarjar/jarJar/metadata.json
build/libs/AreaManager-1.16.5-1.0.0.jar
build/reobfJar/log.txt
build/reobfJar/output.jar
build/resources/main/assets/areamanager/areamanager.conf
build/resources/main/assets/areamanager/fishSpawnTemplate.conf
build/resources/main/assets/areamanager/guiSettings.conf
build/resources/main/assets/areamanager/headbuttSpawnTemplate.conf
build/resources/main/assets/areamanager/heldItems.conf
build/resources/main/assets/areamanager/naturalSpawnTemplate.conf
build/resources/main/assets/areamanager/rockSmashTemplate.conf
build/resources/main/assets/areamanager/settings.conf
build/resources/main/META-INF/mods.toml
build/resources/main/pack.mcmeta
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
